@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

.form-control {
    width: 500px;
    border-radius: 50px;
    display: inline-block;
}

#header {
    height: 600px;
    margin: 0 auto;
    padding: 0px;
    background-image: url("https://images.unsplash.com/photo-1563000215-e31a8ddcb2d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1038&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
    text-shadow: 2px 2px 4px #333;
}

#headerContent {
    margin: auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 40px;

}

#headerContent h2 {
  font-size: 54px;
  font-family: 'Pacifico', cursive;
  line-height: 3;
}

body {
  color: #535353;
}

li {
    list-style-type: none;
}

.btn-lg {
  border-radius: 5px;
  color: #535353;
  &:hover {
    color: white;
    transition: 0.1s;
    text-decoration: none;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 16px;
}
