@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}


#header{
    height: 500px;
    width:100vw;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: none;
    background-image: url("https://images.unsplash.com/photo-1563000215-e31a8ddcb2d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1038&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#headerContent{
    margin: 0 auto;
    width: 960px;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

body {
  color: #535353;
}

li {
    list-style-type: none;
}

.btn-lg {
  border-radius: 5px;
  color: #535353;
  &:hover {
    color: white;
    transition: 0.1s;
    text-decoration: none;
  }
}



// .carousel-item img {
//   height: 500px;
//   width: 100%;
//   margin-bottom: 50px;
//   object-fit: cover;
// }
