.container {
  background-color: rgb(248, 244, 244);
}

.card-info {
  min-height: 400px;
  border: 1px solid #a6abb0;
  padding: 20px;
  margin-top: 30px;
  border-radius: 8px;
}

.my-avatar {
  width: 120px;
  border-radius: 100%;
}

h1 {
  text-align: center;
}

.user-details h1 {
  margin-top: 50px;
}

.user-paintings {
  padding-top: 30px;
}