<div class="p-5">
<h1 class="my-5">Do you want to delete the painting "<%= @painting.name %>"?</h1>

<%= link_to "Yes", painting_path, method: :delete, class: "btn-lg btn-success" %>
<%= link_to "No", painting_path, class: "btn-lg btn-danger" %>

</div>
