<div class="container">
  <div class="row">

    <div class="col-3">
      <div class="card-info">
        <div class="text-center">
      <%= image_tag "profile pic.jpg", class: "my-avatar", alt: "avatar-large" %>
      </div>
      <h1>Barbara Klein</h1>
        <p> <i class="far fa-image"> 8 Paintings</i></p>
        <p> <i class="fas fa-map-marker-alt"></i> Montreal </p>
        <p> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> </p>
      </div>
    </div>

    <div class="col-9">
    <div class="user-details">
    <h1>Hello, I'm Barbara</h1>
    </div>

  </div>
</div>
