.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.flash {
  padding: 4px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1D8A99;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 20px;
  margin: 8px;
}

.flash-success {
  border: 1px solid rgba(140,140,140,1);
  background: #1D8A99;
  color: white;
}

.flash-warning {
  background: #E2C044;
  border: 1px solid rgba(140,140,140,1);
  color: white;
}

.fa-times {
  padding-left: 6px;
  padding-right: 6px;
}
// .flash-danger {
//   border: 2px solid #FD1015;
// }
