.btn-primary {
  font-family: "Work Sans", "Helvetica", "sans-serif";
  color: white;
  background: #72ABE5;
  border: none;
  padding: 8px 24px;
  border-radius: 50px;
}

.btn-primary:hover {
  color: white;
  background: #6699CE;
}


.btn-secondary {
  font-family: "Work Sans", "Helvetica", "sans-serif";
  color: rgba(140,140,140,1);
  background-color: white;
  border: 1px solid rgba(140,140,140,1);
  padding: 8px 24px;
  border-radius: 50px;
}

.btn-secondary:hover {
  background-color: white;
  opacity: 1;
  color: rgba(100,100,100,1);
}





