.btn-primary {
  color: #4A4A4A;
  background: #1EDD88;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-primary:hover {
  color: #4A4A4A;
  background: #1BCB7F;
  border: 1px solid #4A4A4A;
}


.btn-secondary {
  color: #4A4A4A;
  background-color: white;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-secondary:hover {
  background-color: white;
  opacity: 1;
  color: #4A4A4A;
}


